.main-bg {

    background-color: #debef6;
    padding: 20px;
}


.verkefni {
    margin: 2em;
    text-align: right;
}

.col-2 blockquote {
    border-left: 6px solid gray;
    padding-left: 20px;
    font-weight: bold;
}



a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: #F0F;
}

a:active {
    color: blue;
}

@media screen and (min-width: 360px) {


    .bodoni {


        font-family: "Bodoni Moda SC", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

    }


    .gaman {
        background-color: #3b0986;
        text-decoration-color: #0F0;
        color: #debef6;
        text-align: center;


        font-family: "Yellowtail", cursive;
        font-weight: 400;
        font-style: normal;



    }


    .header-button {
        display: inline-block;
        padding: 12px 12px;
        background-color: white;
        text-decoration: none;


        font-family: sans-serif;
        font-weight: bold;
        border-radius: 8px;

    }


    .sticky-menu {
        position: sticky;
        top: 0;
        background-color: #f0f0f0;


        text-align: center;

    }

    .sticky-orð {

        position: sticky;
        top: 75px;

        color: cadetblue;



        background-color: #f0f0f0;
        margin-right: 65%;



    }

    .aside-menu a {
        display: flex;
        flex-direction: column;


        padding: 5px;
        margin: 5px;


    }


    footer {
        display: grid;
        grid-template-columns: 1fr;
        color: white;
        background-color: rgb(78, 78, 193);
        padding: 10px;
    }

    .footer-container a:visited {
        color: #debef6;
    }

    .footer-container a:link {
        color: red;
    }

    .footer-container a:hover {
        color: #F0F;
    }

    .footer-container a:active {
        color: orange;
    }

}

@media screen and (min-width: 768px) {

    .sticky-orð {

        position: sticky;
        top: 0px;
    }

    .container.col-3 {

        display: grid;
        grid-template-columns: 1fr 3fr;

        gap: 20px;
    }

    .bodoni {
        display: flex;

        text-align: center;
        justify-content: space-between;
        margin-left: 2em;
        margin-right: 2em;
    }

    .sticky-menu {
        position: static;
        top: 0;
        background-color: transparent;
        text-align: left;

    }

    .gaman h1 {
        font-family: "Bodoni Moda SC", serif;

        font-style: italic;

        text-align: center;
        font-size: 300%;

    }

    .header-button {
        font-size: 150%;
    }


    .copy {
        grid-column: 1 / -1;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 10px;
        padding: 10px;

        color: white;
    }

}

@media screen and (min-width:1024px) {
    .body {
        max-width: 1024px;
        margin: auto;
    }

    .container.col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}